{% if value == None -%}
{{ query.field }} {% if query.op in ('Is', 'Matches') %} IS {% else -%} IS NOT {% endif -%} NULL
{% elif inverted -%}
{{ query.value.key }} {{ query.op }} {{ query.field }}
{% else -%}
{{ query.field }} {{ query.op }} {{ query.value.key }}
{% endif %}